*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: #252525;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131313;
    width: 360px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 0 50px blueviolet;
}

.text_field{
    color: #EEEEEE;
    text-align: center;
    margin-top: 70px;
    letter-spacing: 2px;
}

input{
    justify-content: center;
    display: block;
    margin: auto;
    flex-direction: column;
    outline: none;
    margin-top: 15px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color:  #252525;
    width: 70%;
    font-size: 15px;
    color: #EEEEEE;
    box-shadow:  0 0 35px rgb(0, 0, 0);
    box-sizing: border-box;
}

label{
    margin-bottom: 10px;
    color: #EEEEEE;
}

.submit_button input{
    width: 50%;
    height: 30px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #EEEEEE;
    align-items: center;
    margin-left: 25%;
    border-radius: 8px;
    margin-top: 10%;
    cursor: pointer;
    border: 1px solid blueviolet;
}



.terms dt{
    text-decoration: none;
    color: blueviolet;
    text-align: center;
    margin-top: 4%;
    font-size: 13px;
}

.terms a{
    text-decoration: none;
}

.signup_link p{
    text-decoration: none;
    color: #eeeeeec4;
    text-align: center;
    margin-top: 7%;
    margin-right: 1;
    font-size: 12px;
}

.signup_link a{
    text-decoration: none;
    color: blueviolet;
}

.login1 img{
    position: absolute;
    top: 10%;
    left: 49%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}



